body {
    font-family: Arial, sans-serif;
    text-align: center ;
    padding: 20px;
}


input, button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #67d02e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


#result {
    margin-top: 20px;
    font-weight: bol;
}
.Accueil-boutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2e8bcd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    /* Ajout des propriétés pour centrer le bouton horizontalement */
    margin: 0 auto; /* Définit les marges haut et bas sur 0 et les marges gauche et droite automatiquement */
    display: block; /* Permet de centrer le bouton */
}