body {
    font-family: Arial, sans-serif;
    text-align: center ;
    padding: 20px;
}


.game-infos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.container {
    height: 500px;
    width: 1350px;
    border: 1px solid #4e4646;
    cursor:crosshair;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 5px #000000;
    border-radius: 6px;
    overflow: hidden;
}

#target {
    height: 60px;
    width: 60px;
    position: absolute;
    transition: 0,25s;
    animation: animeTarget 10s infinite;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: gold;
    border: 0;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

@keyframes animeTarget {
    to {
        transform: translateY(-200px) rotate(90deg);
    }
}

.Accueil-boutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2e8bcd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    /* Ajout des propriétés pour centrer le bouton horizontalement */
    margin: 0 auto; /* Définit les marges haut et bas sur 0 et les marges gauche et droite automatiquement */
    display: block; /* Permet de centrer le bouton */
}